footer {
  background-color: black;
  padding-top: 25px;
  text-align: center;
}

#app {
  max-height: 50vh;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  text-align: center;
}

li {
  color: white;
}

.card {
  height: 100%;
  margin-bottom: 30px;
}

.oszlop {
  margin-bottom: 15px;
}

#html_icon {
  width: 50px;
}

main{
  background-color: black;
  width: 80%;
  padding: 25px;
  text-align: center;
}

h1{
  color: white;
  text-align: center;
  font-size: 70px;
  margin: 30px;
}

h2{
  color: white;
}

p{
  color: white;
}

#elsoBek{
  font-size: 28px;
}

.dolt{
  font-style: italic;
}

.piros{
  color: #ff0050;
}

#szoveg{
  border: solid black 10px;
  border-left-color: #00f2ea;
  border-top-color:  #00f2ea ;
  border-right-color: #ff0050;
  border-bottom-color: #ff0050;
  padding: 5px;
}

.csatorna_leiras{
  color: black;
  font-size: 18px;
  font-style: italic;
  margin-top: 25px;
}

a:link{
  color: #00f2ea
}

a:visited{
  color: #00f2ea;
}

a:hover{
  color: #ff0050;
}

a:active{
  color: #ff0050;
}